API_ID=17075103
API_HASH=097920d1b5cd9c2d417c60ce680b9c43
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=6417202271:AAGGeOlIvOGzwG4Hi4Qoj5xGoQsmpcWehN4
DURATION_LIMIT=5000
MONGO_DB_URI=mongodb+srv://zu:zu@cluster0.ibjdxb9.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001837838911
MUSIC_BOT_NAME=Kazu x Robot
OWNER_ID=5063062493
STRING_SESSION1=BQB7TzaGrJyr-xxlE1GcrCUPA8MdYGRz-EY6H1XRhgjOK8dIN-He-oZsg9l299GcmO6_vtwHMSOnOvDw3RbS8NFS08iktRBEQnm_66URSCZTPMR5gesOnTO7eGXxzPjFlcFjPZv_LMYc4aOPTqMV64nQkWyNJHQAfEdFaLjgOcaHfoyVIzHbdNp0OqYODjvdYplTgJOgSrecqXyMwlZsUztruMst9hprX3I_qT8dM5IwD-Ez5_QMevc16COCbcEup716eUlhktMi1ylR_-PoJseEfkmsCINM2CNph1jm7u3sZ1bYZIOXKmyW_EFbUqX-NvPbtYUqgLSdA-PALeKicVBqAAAAAVwdreIA
UPSTREAM_BRANCH=main
UPSTREAM_REPO=https://github.com/ionmusic/MusicNew
